
body {
    margin: 2rem;
}

th {
    background-color: white;
}
tr:nth-child(odd) {
    background-color: gray;
}
th, td {
    padding: 0.5rem;
}
td:hover {
    background-color: whitesmoke;
}

.paginate_button {
    border-radius: 0 !important;
}

